<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.busybees.little_bee">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/little_bee"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/little_bee"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Lauk_kaing_expert_services" >

        <activity
            android:name="com.busybees.little_bee.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.busybees.little_bee.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ChooseLanguageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.AddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.AddNewAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.AddAddressMapViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.EditAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.MapBoxActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.FinalOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ProductActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.SubProductActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ServiceDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.LogInActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ThanksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ImagePickerActivity"
            android:screenOrientation="portrait"/>
        <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait" />
        <activity android:name="com.busybees.little_bee.activity.ImageViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.OTPActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.LeadFormActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.FullImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ImageLeadFormActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.HistoryDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ReceiptDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.UserGuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.RatingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.WhyLittleBeeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.busybees.little_bee.activity.ContactUsActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver
            android:name="com.busybees.little_bee.services.PushReceiver"
            android:exported="false">
            <intent-filter>

                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver> <!-- Pushy Update Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver
            android:name="me.pushy.sdk.receivers.PushyUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver
            android:name="me.pushy.sdk.receivers.PushyBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Pushy Socket Service -->
        <!-- Do not modify - internal service -->
        <service android:name="me.pushy.sdk.services.PushySocketService" /> <!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
        <!-- Do not modify - internal service -->
        <service
            android:name="me.pushy.sdk.services.PushyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>